<app-header></app-header>
<!-- ##### Breadcumb Area Start ##### -->
<div class="breadcumb-area bg-img bg-overlay" style="background-image: url(img/bg-img/breadcumb4.jpg);">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12">
        <div class="breadcumb-text text-center">
          <h2>Panel - editar foto receta</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ##### Breadcumb Area End ##### -->


<!-- ##### Contact Form Area Start ##### -->
<div class="contact-area section-padding-0-80">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-heading">
          <h3>Editar foto receta: {{receta?.nombre}}</h3>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-8">
        <div class="contact-form-area">
          <form name="form" id="form" (submit)="enviar()" #formulario="ngForm">
            <div class="row">



              <div class="col-12 col-lg-12">
                <label for="foto">Foto <a class="thumbnail fancybox slide" rel="ligthbox" [href]="receta?.foto"><i class="fas fa-image"></i></a></label>
               <input type="file" name="foto" class="form-control" [(ngModel)]="modelo.foto" #foto="ngModel" required="true" (change)="onFilechange($event)"  />
                @if(foto.invalid && (foto.dirty || foto.touched))
                {
                <div class="alert alert-danger">
                  @if(foto.errors)
                  {
                  <div>
                    El campo Foto es obligatorio
                  </div>
                  }
                </div>
                }
              </div>
              <input type="hidden" name="id" [(ngModel)]="modelo.id" #id="ngModel" />


              @if(boton==0)
              {
              <div class="col-12 text-center">
                <button class="btn delicious-btn mt-30" type="submit" title="Enviar"
                  [disabled]="!formulario.form.valid">Enviar</button>

              </div>
              }

              @if(boton==1)
              {
              <div class="col-12 text-center">
                <img src="img/img/load.gif" alt="">
              </div>
              }
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ##### Contact Form Area End ##### -->



<app-footer></app-footer>
